 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
 


* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 
.header{
    /* margin : 100px; */
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px; 
    padding: 20px 100px;
    height: 100%;
    background : rgba(255, 255, 255, 0.306);
    
    backdrop-filter: blur(10px);
     
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    /* border-radius: 15px; */
    /* box-shadow:20px 20px 50px rgba(0,0,0,0.4); */
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* color: rgb(106, 83, 83); */
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    font-weight: 900;
    cursor: default;
}

.navbar a {
    /* color:rgb(106, 83, 83) ; */
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 35px;
}

.navbar a:hover{
    color: #f734a2;
}

.header-content{
    margin-top: 100px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    
}

.header-content-img{
    height: 300px;
    width: 300px;
    margin-left: 500px;
}

.product-container{
    display: flex;
    
}

.product-container .image{
    height: 500px;
    width: 600px;
     
}

.product-container .image img{
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-left: 100px;
    margin-top: 60px;
}

.product-container .product-content{
    margin-left: 60px;
    padding: 80px;
    font-size: 20px;
}

.product-container .product-content .title{
    padding: 20px;
    color: #111;
}

.product-container .product-content .description{
    padding: 20px;
}

.product-container .product-content .size{
    padding: 10px 20px;
}

.product-container .product-content .color{
    padding: 10px 20px;
}

.product-container .product-content .price{
    padding: 10px 20px;
}

button{
    padding: 10px;
    margin: 20px;
    background-color:#f734a2; ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



@media  screen and (max-width:768px) {
    .header{
        /* padding-right: 30px; */
        /* height: 300px; */
        margin-left: 30px;
        margin-right: 30px;
        /* padding-right: 100px; */

    }
}
@media  screen and (max-width:768px) {
    .header-navbar .navbar{
        margin-left: 2rem;
        /* padding:100px */
        margin-top: 3rem;
       
        

    }
}
 










 


